body {
  margin: 0;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 15px;
  color: #1a1a1a;
  background-color: $ui-background-color;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code,
code,
input,
textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

a {
  color: $blue;
  margin: 0 5px;
  cursor: pointer;
}

.gray {
  color: $gray;
}

input[type="radio"] {
  display: none;
}

.padding-bottom {
  padding-bottom: 10px;
}

.collapsed {
  display: none;
}

dataviz-tool-header {
  position: fixed;
  top: 48px;
  z-index: 100;
  width: 100%;
}

#canvas {
  position: fixed;
  right: 0;
  top: 96px;
  bottom: 0;
  left: $sidebar-width;
  overflow: hidden;
  z-index: -1;

  canvas {
    cursor: pointer;
    background-color: $canvas-background-color;
  }
}

#stats {
  z-index: 2;
}

// dat.gui
.dg.ac {
  pointer-events: none;
}

#dataviz-global-header-host {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
